body {
  background-color: hsl(212, 45%, 89%);
  margin: auto;
  height: 100vh;
  place-content: center;
}

main {
  display: flex;
  place-content: center;
}

.content {
  width: 288px;
  height: 443px;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  text-align: center;
  flex-direction: column;
  border-radius: 16px;
  padding: 16px 16px 40px 16px;
  box-shadow: 0px 25px 25px 0px rgb(0 0 0 / 4.77%)
}

.text_content {
  width: 256px;
  padding: 0px 16px;

  h1 {
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    font-size: 22px;
    width: 256px;
    margin: 24px 0 0 0;
    line-height: 120%;
    letter-spacing: 0.2px;
  }

  p {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    color: hsl(216, 15%, 48%);
    font-size: 15px;
    width: 256px;
    margin: 16px 0 0 0;
    line-height: 120%;
    letter-spacing: 0.2px;
  }
}

.qr_code {
  width: 288px;
  height: 288px;

  img {
    width: 288px;
    border-radius: 10px;
  }
}

footer {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 50%)
}
